.button-show{
    text-align: center;
    background-color: bisque;
    width: 600px;
    height: 30px;
    border-radius: 3px;
    border:none;
    margin: 5px;

}

.space{
    margin-top: 70px;
}

.button-show:hover{
    cursor: pointer;
    background-color: rgb(255, 215, 166);
}

.button-show:active{
    transform: scale(1.01);
    animation: 0.7s;
}


.parent-bs{
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.scrollbar{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}
