
.registerHere{
    margin-bottom: 40px;
    border: 0px;
    background-color: transparent;
    font-family: "Times New Roman", serif;
    font-size: 15px;
}
.registerHere:hover{
    text-decoration: underline;
    cursor: pointer;

}

.registerHere:active{
    transform: scale(1.01);
    animation: 0.7s;
}